@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h3 class="display-4">Welcome To The Task List Application</h3>
    <p>Please click the "Task List" link in the Menu Bar to get started.</p>
</div>
